{% set user = user %}

<div class="client-tickets-wrapper" id="client-tickets-wrapper">

    {% if not user %}
        <div class="client-tickets-alert client-tickets-alert--warning">
            <p>Please <a href="{{ 'account'|page }}">sign in</a> to view your tickets.</p>
        </div>
    {% elseif not client %}
        <div class="client-tickets-alert client-tickets-alert--warning">
            <p>No client profile is associated with your account. Please contact support.</p>
        </div>
    {% else %}

        {# Flash Messages #}
        {% flash %}
            <div class="client-tickets-alert client-tickets-alert--{{ type }}">
                {{ message }}
            </div>
        {% endflash %}

        {# Create Ticket View #}
        <div id="client-tickets-create">
            {# Populated via AJAX #}
        </div>

        {# Ticket Detail View #}
        <div id="client-tickets-detail">
            {% if activeTicket %}
                {% partial __SELF__ ~ '::detail' %}
            {% endif %}
        </div>

        {# Ticket List View #}
        <div id="client-tickets-list">
            {% if not activeTicket %}
                {% partial __SELF__ ~ '::list' %}
            {% endif %}
        </div>

    {% endif %}

</div>
