{% set user = user %}

{{ themeStyles|raw }}

<div class="client-projects-wrapper" id="client-projects-wrapper">

    {% if not user %}
        <div class="client-projects-alert client-projects-alert--warning">
            <p>Please <a href="{{ 'account'|page }}">sign in</a> to view your projects.</p>
        </div>
    {% elseif not client %}
        <div class="client-projects-alert client-projects-alert--warning">
            <p>No client profile is associated with your account. Please contact support.</p>
        </div>
    {% else %}

        {# Flash Messages #}
        {% flash %}
            <div class="client-projects-alert client-projects-alert--{{ type }}">
                {{ message }}
            </div>
        {% endflash %}

        {# Project Detail View #}
        <div id="client-projects-detail">
            {% if activeProject %}
                {% partial __SELF__ ~ '::detail' %}
            {% endif %}
        </div>

        {# Project List View #}
        <div id="client-projects-list">
            {% if not activeProject %}
                {% partial __SELF__ ~ '::list' %}
            {% endif %}
        </div>

    {% endif %}

</div>
